*{
  font-family: sans-serif;
}

body{
  padding: 0;
  margin: 0;
  background: linear-gradient(to left, #B64CE2, #5A3EA4);
}

button{
  cursor: pointer;
}

.row{
  display: flex;
  position: relative;
  width: 100%;
  &-center{
    justify-content: center;
  }

  &-middle{
    align-items: center;
  }

  &-reverse{
    flex-direction: row-reverse;
  }
}
